[Desktop Entry]
Name=Window Buttons
Comment=Window buttons for your panels

Encoding=UTF-8
Icon=focus-windows
Keywords=window buttons
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=org.kde.windowbuttons
X-KDE-PluginInfo-Version=0.10.1
X-KDE-PluginInfo-Website=https://github.com/psifidotos/applet-window-buttons
X-KDE-ServiceTypes=Plasma/Applet

